*{
    margin: 0;
    padding: 0;
}

.Container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}


.signInForm{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    position: absolute;

}
ul{
  font-size: 1.3rem;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #474b4e;
}

ul li{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 25px;

}

ul li input{
  text-align: center;
  font-size: 1em;
  width: 30%;
  height: 33px;
  border-radius: 5px; /* add rounded borders */
  border: 1px solid #0cb7f2; /* add a border */
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}



/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 20%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
@media (min-height: 915px) {
    .signInForm{
        top: 50%;

    }
  }